#main{
    display: inline-block;
    *display: inline;
    width: 600px;
    height: 400px;
}

#column{
    display: inline-block;
    *display: inline;
    width: 200px;
    height: 400px;
}

/*------BEGIN TABLE-------*/
#time_table{
    border-collapse: collapse;
    border: none;
}

#time_table td,
#time_table th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

/* - Header - */
#time_table thead tr:first-child{
    font-size: 14px;
}
#time_table thead tr:first-child th:first-child{
    border: none;
}

#time_table thead tr:nth-child(n+2) th:nth-child(-n+2){
    font-size: 14px;
}

#time_table thead tr:nth-child(n+2) th:nth-child(n+3){
    font-size: 12px;
}

/* - Body - */
#time_table tbody th:nth-child(n+3){
    width: 125px;
    font-size: 75%;
}

#time_table tbody th:nth-child(-n+2) {
    width: 45px;
}

#time_table tbody td:nth-child(-n+2) {
    width: 45px;
    font-size: 100%;
}

#time_table tbody td:nth-child(n+3){
    width: 125px;
    font-size: 75%;
}

/*------Student List------*/
#students{
    border: none;
}

html *
{
    font-family:"Arial";
}